body {
    background: white;
}

/*
=================================================
GO TO TOP BUTTON
=================================================
*/

.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
  }
.btn-unique {
    background-color: #707070;
    color: #707070;
  }
.btn-unique:hover {
    background-color: #707070;
    color: #707070;
  }

/*
=================================================
FONTS
=================================================
*/

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}